<div class="bg-container">
  <div class="container">
    <ul>
      <li>
        Coursera
      </li>
      <li>
        <a href="https://www.coursera.org/learn/extinctions-past-present-and-future" target="_blank">

          Extinctions: Past, Present, & Future
        </a>
      </li>
      <li>
        <a href="https://www.coursera.org/learn/global-warming" target="_blank">
          Global Warming I: The Science and Modeling of Climate Change
        </a>
      </li>
      <li>
        <a href="https://www.coursera.org/learn/global-warming-model" target="_blank">

          Global Warming II: Create Your Own Models in Python
        </a>
      </li>
    </ul>
    <ul>
      <li>
        Books
      </li>
      <li>
        Archer, David <i>Global Warming - Understanding the Forecast</i> 2nd Edition, USA, Wiley, 2012.
      </li>
      <li>
        Dessler, Andrew <i>Introduction to Modern Climate Change</i> 2nd Edition, UK, Cambridge University Press, 2016.
      </li>
      <li>
        Hazen, Robert M. <i>The Story of Earth. - The First 4.5 Billion Years, From Stardust to Living Planet,</i> USA, Viking Penguin, 2012.
      </li>
      <li>
        Kolbert, Elizabeth <i>The Sixth Extinction - An Unnatural History,</i> USA, Picador, 2014.
      </li>
    </ul>
  </div>
</div>
