<app-navbar></app-navbar>
<div class="bg-container">
  <div class="container">
    <div class="row banner" style="color:white">
      <div class="col-1 ">
        <p style="color:transparent">4 col</p>
      </div>
      <div class="col-11" >
        <div class=" title text-center gold">
          Card Memory Game
        </div>
        <div>
          <p class="text-center gold">Tap on a card to flip it.</p>
        </div>
        <div class="grid10">
          <app-game-card *ngFor="let c of cards; let idx=index" [data]="c" (cardClicked)="cardClicked(idx)">
          </app-game-card>
        </div>
      </div>
    </div>
  </div>
</div>
<app-modal *ngIf="modalOpen" (close)="onClick()" (playAgain)="restart()"></app-modal>




