<!--<app-navbar></app-navbar>-->
<div class="banner d-flex align-items-center justify-content-center
            flex-column pl-3 pl-lg-5">
  <div class="centered">
    <div>
      <h1 class="text-capitalize ">Welcome to 154F</h1>
    </div>
    <div>
      <h2 class="">Your Online BookStore</h2>
    </div>
    <div>
      <app-search-bar></app-search-bar>
    </div>
  </div>
</div>
<section class="special">
  <div class="container">

    <app-carousel [special]="special" *ngFor="let special of specials"></app-carousel>

  </div>
</section>
<app-footer></app-footer>


