<app-navbar></app-navbar>
<div class="banner d-flex align-items-center justify-content-center
            flex-column pl-3 pl-lg-5">
  <div class="centered">
    <div>
      <h1 class="text-capitalize ">Welcome to 154F</h1>
    </div>
    <div>
      <h2 class="">Your Online BookStore</h2>
    </div>
    <div>
      <app-search-bar></app-search-bar>
    </div>
  </div>
</div>
<section class="special">
  <div class="container">

    <app-carousel title="Lisa's Picks" category="LisaPicks" logo="assets/images/images-removebg-preview.png"></app-carousel>
    <app-carousel title="Booker Prize Winners" category="Booker" logo="assets/images/Man+Booker+Prize+Logo.png"></app-carousel>
<!--    <app-carousel title="Oprah Book Club" category="Oprah" logo="assets/images/Oprah's_Book_Club_2.0.png"></app-carousel>-->
    <app-carousel title="National Book Award for Fiction" category="NationalFiction"
                  logo="assets/images/nba-winner-sticker.png"></app-carousel>
<!--    &lt;!&ndash;    <app-booklist></app-booklist>&ndash;&gt;-->
  </div>
</section>
<app-footer></app-footer>


