/* banner  */
.banner {
  min-height: calc(100vh - 78px);
  background: linear-gradient(rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0.15)), url("/assets/images/quietSpot.webp");
  background-position-x: center;
  background-position-y: 78px;
  background-size: contain;
  /*background-size: cover;*/
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: var(--154F-dark-red);
  height: 100vh;
  background-color: var(--154F-dark-teal);
  position: relative;

}


h1 {
  font-family: Charm, cursive;
  font-weight: bolder;
  font-size: 4rem;

}
h2 {
  font-family: Charm, cursive;
  font-weight: bolder;
  font-size: 3rem;
}
.centered {
  margin-top : 150px;
}


.special {
  background-color: var(--154F-light-cream);
  color:var(--154F-dark-red);
  padding-top:50px;
}

@media screen and (max-width: 500px) {


}

