<div class="bg-container">
  <div class="container">
    <div class="banner">
      <div class="justify-content-center">

        <form class="form-inline">

          <label for="sdate">Start Date :</label>
          <input type="date" [(ngModel)]='startdate' id="sdate" class="form-control" name="startdate">
          <label for="edate">End Date :</label>
          <input type="date" [(ngModel)]='enddate' id="edate" class="form-control" name="enddate">
          <label for="check1" class="form-check-label checkbox-label"> Percent change from Start Date</label>
          <input type="checkbox" [(ngModel)]='pctChange' class="form-control checkbox" id="check1" name="pctChange">

          <div class="form-group">
            <label for="companies" class="form-check-label"> Enter Companies</label>
            <input type="text" [(ngModel)]='companies' (ngModelChange)="companies = $event.toUpperCase()"
                   class="form-control" id="companies" name="companies">

          </div>
          <button (click)="getStock()">Get Quote</button>
        </form>
        <br>
        <!--        <h1 class="text-center">{{companies.toUpperCase()}}</h1>-->
        <!--    <div class="mx-auto">-->
        <!--{{stocks | json}}-->
        <plotly-plot *ngIf="graph" [data]="graph.data" [layout]="graph.layout" [config]="graph.config"></plotly-plot>
        <!--    </div>-->
      </div>
      <!--    </div>-->
    </div>
  </div>
</div>

