<div>
  <nav class="navbar navbar-expand-lg navbar-custom fixed-top" style="">
    <a class="navbar-brand">
      <img src="/assets/images/lightbulb-icon.svg.png" width="30">
    </a>
    <a class="nav-link navbar-text" routerLink="">CroweBiz</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            (click)="toggleNavbar()">
      <i class="fas fa-bars"></i>
    </button>

  </nav>
</div>


